.header {
    background-color: #0b7a83;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
    height: 70px;
}
.header .tabs {
    display: flex;
    justify-content: space-evenly;
}

.tabs div {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    position: relative;
}
.tabs a {
    text-decoration: none;
    color: #5c5c5c;
    cursor: pointer;
    width: 100%;
}
.tabs a.selected {
    color: black;
    background-color: #b3b0b04d;
}
.tabs a.selected div:after {
    content: '';
    height: 2px;
    background: white;
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;

    
}
.GoalList {
    padding: 1px;
    padding-bottom: 70px;
}

.formBox {
    background-color: rgba(255, 255, 255, .75);
    padding: 10px;
    border-radius: 15px;
}

.goal-block-links {
    text-decoration: none;
    color: #242424;
}
.goal-block-links:active {
    text-decoration: none;
}
.Dashboard {
    background-image: url('./media/Background/yellow_background.png');
    min-height: 100vh;
}

.GoalBlock {
    background-color: #fff;
    margin: 30px 25px;
    border-radius: 25px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    transition: all .4s ease;
}
.GoalBlock:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(32, 32, 32, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(32, 32, 32, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(32, 32, 32, 0.75);
}
.GoalBlock:active {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(32, 32, 32, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(32, 32, 32, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(32, 32, 32, 0.75);
}
.GoalBlock div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.GoalBlock .resolution {
    margin-bottom: 15px;
}

.GoalBlock div h2 {
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    color: #1ebbc7;
    padding: 0 10px;
    border-radius: 4px;
    font-weight: 800;
}

.GoalBlock div p {
    text-align: center;
    width: 100%;
    margin: 0;
}


.footer {
    background-color: #1ebbc7;
    display: flex;
    justify-content: space-evenly;

}
.header img {
    width: 50px;
    z-index: 2;
}


.GoalBlock .category {
    position: relative;
    width: 30%;
}
.GoalBlock img {
    height: 100%;
    max-height: 85px;
}


.Dashboard .header.back a{
    padding-top: 25px;
    padding-bottom: 5px;
    display: block;
}

.DashBoardProgressDisplay {
    background-color: #fff;
}