.GoalCreate {
    min-height: 100vh;
    padding: 1px;
    padding-bottom: 70px;
}
.GoalCreate form {
    margin: 20px 20px;
    z-index: 2;
    position: relative;
}
.GoalCreate input {
    background: transparent;
    border: none;
    border-bottom: 3px dotted black;
    width: 120px;
    font-size: 30px;
}
.GoalCreate span {
    font-size: 30px;
    margin: 40px 20px;
    display: block;
}

.GoalCreate input:focus {
    border-bottom: 3px dotted #ff7e00;
}
.GoalCreate select {
    width: 100%;
    height: 30px;
    font-size: .5em;
}

.GoalCreate button {
    width: 60%;
    border: none;
    padding: 1rem 2rem;
    text-decoration: none;
    background: #e37f8b;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    margin: 25px auto;
    text-transform: uppercase;
}
.GoalCreate button:hover,
.GoalCreate button:focus {
    background:#7968c2 ;
}
 
.GoalCreate button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
 
.GoalCreate button:active {
    transform: scale(0.99);
}
.GoalCreate .formBox p {
    position: relative;
    line-height: 40px;
    display: inline-block;
    margin: 5px 0;
}
.GoalCreate .inputBackground {
    background-color: #b2e6ea;
    min-width: 120px;
    display: inline-block;
}

.GoalCreate .editableDiv {
    min-width: 120px;
    word-wrap: anywhere;
    text-decoration: underline dotted black;
    display: inline-block;
    outline: none;
    line-height: 40px;
    height: 30px;
    margin: 0;
    background-color: #b2e6ea;
    cursor: pointer;
}

.GoalCreate .editableDiv span{
    font-size: 30px;
    margin: 0;
    display: inline-block;
    position: relative;
    top: -10px;
    margin-bottom: 30px;
}
.GoalCreate .editableDiv div {
    border-bottom: 3px dotted black;
}

.CategoryImage img{
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-bottom: 70px;
    z-index: 1;
}

.CategoryImage .personal img:first-child{
    width: 300px;
    margin-bottom: 62px;
}
.CategoryImage .personal img:nth-child(2){
    width: 200px;
    margin-left: 250px;
    margin-bottom: 62px;
}

.CategoryImage .personal img:last-child{
    width: 155px;
    margin-bottom: 100px;
    margin-left: 150px;
}

.GoalCreate .formBox .selectField {
    display: block;
    text-align: center;
}

.GoalCreate .styledSelect {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    background-color: rgba(0, 0, 0, 0);
    height: 29px;
    overflow: hidden;
    width: 240px;
    margin: 20px auto;
    background-color: #b2e6ea;
    position: relative;
}

.GoalCreate .styledSelect select{
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 268px;
    text-transform: none;
    line-height: 30px;
    color: #000000;
    position: relative;
    top: -10px;
}


