.GoalType {
    min-height: 100vh;
}
.GoalType a {
    text-decoration: none;
}
.goal-type-selection {
    width: 85%;
    margin: 20px auto;
    height: 150px;
    background-size: cover;
    transition: all .4s ease;
    position: relative;
    border: 5px solid black;
    border-radius: 3px;
}
.goal-type-selection:hover {
    width: 90%;
    margin: 20px auto;
    height: 150px;
    background-size: cover;
}
.goal-type-selection img {
    width: 80px;
    position: relative;
    top: -22px;
    left: -12px;
}
.goal-type-selection h2 {
    position: relative;
    top: -10px;
    text-decoration: none;
    text-align: center;
    color: black;
}
.goal-type-selection.health {
    background-image: url("./media/goal_card_2.png");
}
.goal-type-selection.professional {
    background-image: url("./media/goal_card_1.png");
}
.goal-type-selection.personal {
    background-image: url("./media/goal_card_3.png");
}