.registration {
    background-image: url('./media/a.jpg');
    height: 100vh;
    padding: 10px;
}

.input {
    width: 200px; height: 390px; border: 1px solid #999999; padding: 5px;

}
label {
    display: block;
}