.Trophy .TrophyItem:nth-child(even)::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #ff7e00;
    bottom: 0;
}
.Trophy .TrophyItem:nth-child(even)::after {
    content: '';
    position: relative;
    width: 50%;
    height: 2px;
    background-color: #ff7e00;
    bottom: 0;
}
.Trophy .TrophyItem:nth-child(odd)::before {
    content: '';
    position: relative;
    width: 50%;
    height: 2px;
    background-color: #ff7e00;
    bottom: 0;
    margin-left: 50%;
}
.Trophy .TrophyItem:nth-child(odd)::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #ff7e00;
    bottom: 0;
    right: 0;
    
}
.TrophyItem {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 30px 10px;
}
/* .TrophyItem:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #ff7e00;
    bottom: 0;
    
}
.TrophyItem:after {
    content: '';
    position: relative;
    width: 50%;
    height: 2px;
    background-color: #ff7e00;
    bottom: 0;
} */
.trophyImage {
    width: 30%;
}
.TrophyItem img {
    width: 100%;
}
.trophyData {
    width: 70%;
}
.Trophy {
    padding: 1px;
}
.Trophy h1 {
    text-align: center;
    width: 90%;
    margin: 40px auto;
}