.welcome {
    background-image: url('../media/Background/yellow_background.png');
    width: 100%;
    background-size: cover;
    min-height: 100vh;
}

img.welcome-logo {
    display: block;
    margin: 0 auto;
    padding-top: 10%;
    width: 100%;
    max-width: 150px;
}

.heading {
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-weight: 100;
    color: rgb(67,49,145);
}

.quote {
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 10px;
    text-align: center;
    color: rgb(67,49,145);
}
.quote h2 {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.welcome button {
    width: 200px;
    border-radius: 15px;
    border: 1px solid black;
    padding: 1rem 2rem;
    margin: 10px;
    text-decoration: none;
    background: #e37f8b;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
 }
 
.welcome button:hover,
.welcome button:focus {
    background:#7968c2 ;
 }
 
.welcome button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
 }
 
.welcome button:active {
    transform: scale(0.99);
 }

 .welcomeButtons {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
.welcomeButtons a {
    display: block;
}
.welcome-button {
    text-align: center;
    margin-top: 10px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 20px; 

}
