.loading {
    background-image: url('./media/a.jpg');
    height: 100vh;
}

.logo {
    background-image: url('./media/logo.png');
    background-repeat: no-repeat;
    height: 100vh;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}