.GoalDetail {
    padding: 1px;
    padding-bottom: 200px;
}
.GoalDetail h1{
    text-align: center;
}
.goalCompletion {
    position: relative;
    z-index: 2;
    background: #fff;
    text-align: center;
    margin: 0 20px;
    border-radius: 15px;
    border: 1px solid black;
}
.goalCompletion h2 {
    margin-bottom: 10px;
}
.goalCompletionGraph {
    margin-left: -2px;
}
.goalDays h2{
    text-align: center;
    font-size: 5vw;
}

.GoalStats {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: relative;
    z-index: 2;
}

.GoalStats div {
    width: 50%;
    text-align: center
}
.GoalDetail .title {
    text-align: center;
    margin-top: 40px;
}

.GoalDetail .title h1 {
    display: inline-block;
    background-color: #1ebbc7;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.7em;
    border: 1px solid black;
    border-radius: 15px;
}
.GoalStats h2 {
    font-size: 1.15em;
}
.GoalStats h3 {
    font-size: 2.5em;
    font-family: 'Major Mono Display', sans-serif;
    font-weight: 800;
    margin-top: 10px;
    color: #814fe7;
}
.GoalButton {
    text-align: center;
    position: relative;
    z-index: 2;
}

.GoalButton button {
    width: 50%;
    border: none;
    padding: 1rem 2rem;
    margin-top: 20px;
    text-decoration: none;
    background: #e37f8b;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.GoalButton button:hover,
.GoalButton button:focus {
    background:#7968c2 ;
}
 
.GoalButton button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
 
.GoalButton button:active {
    transform: scale(0.99);
}

.GoalButton h2 {
    width: 80%;
    margin: 30px auto 0 auto;
    text-align: center;
}